.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.responsive-card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.mat-card-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensaje-content {
    padding: 2%;
}

.mensaje-footer {
    padding-left: 1%;
    color: #777;
    font-size: 12px;
}