<h1 mat-dialog-title>{{ 'FORMADDTIPODOCUMENTO.matDialogTitle' | translate }}</h1>
<mat-card>
  <div mat-dialog-content>
    <mat-card-header> {{ 'FORMADDTIPODOCUMENTO.matDialogHeader' | translate }} </mat-card-header>
    <mat-card-content>
      <form [formGroup]="addTipoDocumento">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>{{ 'FORMADDTIPODOCUMENTO.matLabelIngPass' | translate }}</mat-label>
          <input matInput  formControlName="descripcion" id="descripcion">
          <mat-error *ngIf="descripcionInvalid">{{ getMensajeErrorDescripcion() | translate }}</mat-error>
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" (click)="agregarTipoDocumento()">{{ 'FORMADDTIPODOCUMENTO.btnAgregar' | translate }}</button>
        </div>
      </form>
    </mat-card-content>
  </div>
</mat-card>