<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="irPacientes()">
      <mat-icon>personal_injury</mat-icon>
      <span>Pacientes</span>
    </button>
    <button mat-menu-item (click)="irMedicos()">
      <mat-icon>local_hospital</mat-icon>
      <span>Médicos</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="datos">
      <mat-icon>data_usage</mat-icon>
      <span>Datos</span>
    </button>
  </mat-menu>
  <mat-menu #datos="matMenu">
    <button mat-menu-item (click)="irTipoDocumento()">Tipo Documento</button>
  </mat-menu>
  <span>Fonosoft</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="abrirConfigDialog()">
    <mat-icon>settings</mat-icon>
  </button>
  <button  mat-icon-button (click)="logOut()">
    <mat-icon >exit_to_app</mat-icon>
  </button>
</mat-toolbar>