<h1 mat-dialog-title> {{ _Titulo | translate }}</h1>
<mat-card>
    <div mat-dialog-content>
        <mat-card-header> {{ 'FORMTIPODOCUMENTO.matDialogHeader' | translate }} </mat-card-header>
        <mat-card-content>
            <form [formGroup]="_tipoDocumentoForm">
                <mat-form-field appearance="fill" class="full-width">
                    <input matInput formControlName="descripcionTipoDocumentoForm" id="descripcionTipoDocumentoForm" readonly="readonly">
                </mat-form-field>
                <div mat-dialog-actions align="end">
                    <button mat-raised-button color="primary" (click)="Ejecutar()">{{ _boton | translate }}</button>
                    <button mat-raised-button color="warn" mat-dialog-close>{{ 'FORMTIPODOCUMENTO.btnCerrar' | translate }}</button>
                </div>
            </form>
        </mat-card-content>
    </div>
</mat-card>