@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
    --mdc-fab-container-color: #3fb549;
    --mdc-fab-icon-color: #fff;
    --mat-mdc-fab-color: #fff;
}
.mat-mdc-icon-button.mat-accent {
    --mdc-icon-button-icon-color: #f1f900;
}